{% load static %}
{% comment %} NOS REALISATIONS {% endcomment %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Nos réalisations</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{% static 'web_site/lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'web_site/lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'web_site/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet"> 


        <!-- Customized Bootstrap Stylesheet -->
        <link href="{% static 'web_site/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'web_site/css/style.css' %}" rel="stylesheet">
    </head>

    <body>

        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

      
        <!-- Navbar & Hero Start -->
      {% include 'web_site/navbar.html' %}
        <!-- Navbar & Hero End -->
 
        <!-- Services Start -->
        <div class="container-fluid service py-5">
        </div>
        <!-- Services End -->

                <!-- Blog Start -->
        <div class="container-fluid blog pb-5">
            <div class="container py-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <h1 class="display-5 mb-4">Nos réalisations en images</h1>
                    <p class="mb-0">Du petit au grand format, découvrez l’essence de notre savoir-faire : des impressions soignées pour des résultats résolument professionnels.</p>
                </div>
            </div>
            <div class="owl-carousel blog-carousel wow fadeInUp" data-wow-delay="0.2s">
                {% for realisation in realisations %}
                <div class="blog-item p-4">
                    <div class="blog-img mb-4">
                        <img src="{{ realisation.image_principale.url }}" class="img-fluid w-100 rounded" alt="{{ realisation.titre }}" style="height: 260px; object-fit: cover; object-position: center;">
                        <div class="blog-title">
                            <a class="btn">{{ realisation.titre }}</a>
                        </div>
                    </div>
                    <a href="#" class="h4 d-inline-block mb-3">{{ realisation.soustitre }}</a>
                    <p class="mb-4">{{ realisation.description }}</p>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>
        <!-- Blog End -->
        <!-- Footer Start -->
   {% include 'web_site/footer.html' %}
        <!-- Footer End -->
        

        <!-- Back to Top -->
        <a href="#" class="btn btn-primary btn-lg-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'web_site/lib/wow/wow.min.js' %}"></script>
        <script src="{% static 'web_site/lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'web_site/lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'web_site/lib/counterup/counterup.min.js' %}"></script>
        <script src="{% static 'web_site/lib/lightbox/js/lightbox.min.js' %}"></script>
        <script src="{% static 'web_site/lib/owlcarousel/owl.carousel.min.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'web_site/js/main.js' %}"></script>
    </body>

</html>